
/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 { 
    display: flex;
    align-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/patron-cupcake_926375-16.jpg);
    background-size: cover;
    background-color: #FFF5E1;
    
}

.container-form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: 500px;
    border: #8B4513 2px solid;
    border-radius: 20px;
    margin: 20px;
    background-color: #FFF5E1;
    border: solid thin #8B4513;
}

.information {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8B4513;
    color: white;
    border-radius: 15px 15px 0 0;
}

.btn-submit {
    background-color: #FFC0CB;
    color: #8B4513;
    outline: none;
    border: solid 2px #FFC0CB;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background-color: #8B4513;
    color: white;
    border-color: #8B4513;
}

.btn-register {
    background-color: transparent;
    color: #8B4513;
    outline: none;
    border: solid 2px #8B4513;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-register:hover {
    background-color: #8B4513;
    color: white;
}

#formulario-registro {
    background: #FFF5E1;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    margin: 30px 0 0 0;
}

#formulario-registro label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: solid thin red;
    

}

.form-information-childs h2 {
    text-align: center;
}

#formulario-inicioSesion {
    display: flex;
    flex-direction: column;
    background :#E0F6FF ;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    margin: 30px 0 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-information-childs {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#formulario-inicioSesion label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: solid thin red;
}

